.right-column div {
    margin-bottom: 20px;
}

.about-description {
    background-color: black;
    color: white;
}

.about-bottega {
    text-decoration: none;
    color: $teal;
}

.about-bottega:hover {
    color: red;
}