.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 83px;
    background-color: black;
    
    .filter-links {
        display: flex;
        justify-content: space-around;

        .btn {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .homepage-wrapper {
        margin-top: 58px;
    }
    .filter-links {
        margin-top: 0px;
    }
}